/Default suite/
/bullet_point.png
/collapseall.gif
/emailable-report.html
/failed.png
/index.html
/jquery-3.4.1.min.js
/junitreports/
/navigator-bullet.png
/old/
/passed.png
/skipped.png
/testng-failed.xml
/testng-reports.css
/testng-reports.js
/testng-results.xml
/testng.css
